---
import Playlist from "@/components/Playlist";
import PlayPageButton from "@/components/PlayPageButton";
import type { CategoryData, SongData } from "@/env";
import Layout from "@/layouts/Layout.astro";
import { formatCatSongsNumString } from "@/lib/utilsMedia";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const [categories, songs] = await Promise.all([
    getCollection("categories"),
    getCollection("songs"),
  ]);

  return categories.map((category) => {
    const categorySongs = songs.filter((song) =>
      song.data.categoryList.includes(category.data.title)
    );
    return {
      params: {
        id: category.id,
      },
      props: {
        category: category,
        categorySongs: categorySongs,
      },
    };
  });
}

const { id } = Astro.params;
const { category, categorySongs } = Astro.props;
const { data } = category;
const { cover, title } = data;

const categorySongsNum = categorySongs.length;
const categoryData: CategoryData = {
  id,
  type: data.type,
  title: data.title,
  cover: data.cover,
};

const categorySongsData: (SongData & { chords: string | undefined })[] =
  categorySongs.map(({ id, data }) => ({
    id,
    type: data.type,
    title: data.title,
    cover: data.cover,
    categoryList: data.categoryList,
    src: data.src,
    chords: data.chords,
  }));
---

<Layout>
  <div>
    <header class="flex">
      <img
        class="max-w-60 aspect-square object-cover shadow-lg rounded-lg"
        src={cover}
        alt={`Portada de ${title}`}
        transition:name=`category ${id} image`
      />
      <div class="flex flex-col justify-end ml-8">
        <h3 class="font-light">Categoria</h3>
        <h1 class="text-5xl my-2 font-bold text-white">
          <span transition:name=`category ${id} title`>
            {title}
          </span>
        </h1>
        <p class="font-semibold">
          {formatCatSongsNumString(categorySongsNum)}
        </p>
      </div>
    </header>

    <PlayPageButton
      client:visible
      media={categoryData}
      playlistMedia={categorySongsData}
    />

    <Playlist playlistMedia={categorySongsData} playlistId={id} />
  </div>
</Layout>
