---
import PlayCardButton from "@/components/PlayCardButton";
import type { CategoryData, SongData } from "@/env";
import { getCollection } from "astro:content";

interface Props {
  category: CategoryData;
  class?: string;
}

const { category, class: className } = Astro.props;
const { id, cover, title } = category;

const songs = await getCollection("songs");
const categorySongs = songs.filter((song) =>
  song.data.categoryList.includes(title)
);
const categoryPlaylistMedia: SongData[] = categorySongs.map(({ id, data }) => ({
  id,
  type: data.type,
  title: data.title,
  cover: data.cover,
  categoryList: data.categoryList,
  src: data.src,
}));
---

<li class={className}>
  <a
    class="relative group category-item flex gap-4 bg-card-primary-dark h-10 lg:h-14 shadow-md rounded-sm overflow-hidden hover:scale-[1.03] hover:shadow-xl transition duration-300"
    href={`/categories/${id}`}
  >
    <div class="h-full w-auto aspect-square flex-none overflow-hidden">
      <img
        class="object-cover aspect-square"
        src={cover}
        alt={`Portada de ${title}`}
        loading="eager"
        transition:name=`category ${id} image`
      />
    </div>

    <PlayCardButton
      client:visible
      size="small"
      media={category}
      playlistMedia={categoryPlaylistMedia}
    />
    <div class="truncate flex flex-col justify-center pr-2">
      <h4 class="truncate text-sm text-white">
        <span transition:name=`category ${id} title`>{title}</span>
      </h4>
    </div>
  </a>
</li>
