---
import PlayCardButton from "@/components/PlayCardButton";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import type { CategoryData, SongData } from "@/env";
import { formatCatSongsNumString } from "@/lib/utilsMedia";

interface Props {
  category: CollectionEntry<"categories">;
}

const { category } = Astro.props;
const { id, data } = category;
const { cover, title, type } = data;

const songs = await getCollection("songs");
const categorySongs = songs.filter((song) =>
  song.data.categoryList.includes(title)
);
const categorySongsNum = categorySongs.length;
const categoryPlaylistMedia: SongData[] = categorySongs.map(({ id, data }) => ({
  id,
  type: data.type,
  title: data.title,
  cover: data.cover,
  categoryList: data.categoryList,
  src: data.src,
}));

const media: CategoryData = {
  id,
  type,
  title,
  cover,
};
---

<li>
  <a
    class="category-item relative group p-2 flex gap-4 hover:bg-card-primary-dark hover:shadow-lg rounded-sm overflow-hidden transition duration-300"
    href={`/categories/${id}`}
  >
    <div class="h-12 w-12 aspect-square flex-none rounded-sm overflow-hidden">
      <img
        class="object-cover w-full h-full"
        src={cover}
        alt={`Portada de ${title}`}
        loading="eager"
      />
    </div>

    <PlayCardButton
      client:visible
      size="small"
      transition:name={`play-side-menu ${category.id} button`}
      transition:persist
      media={media}
      playlistMedia={categoryPlaylistMedia}
    />

    <div class="truncate flex flex-col justify-center">
      <h4 class="truncate text-sm text-white">
        {title}
      </h4>

      <span class="text-xs">{formatCatSongsNumString(categorySongsNum)}</span>
    </div>
  </a>
</li>
